body {
	background-color: #bdedbd;
	margin:0;
	padding: 0;
	font-family:sans-serif;
}

h1 {
	padding: .5rem;
	background-color: #dfd4b3;
	box-shadow: 0px 5px 10px #0000005c;
}

p {
	padding: .5rem;
	color: #604040;
}

table {
	background-color: #f8e5d5;
	padding: .5rem;
	font-size: large;
	box-shadow: 2px -2px 100px #23403096, 2px -2px 2px #00000070 inset; 
	border-radius: 1rem;
	border: 2pt solid #836d6d;
}

td {
	cursor:pointer;
	text-shadow: 2px -2px 2px #00000045;
}

#comunicazioni {
	margin: .5rem;
	background-color: black;
	border: 2px solid white;
	box-shadow: 5px 5px 5px #00000047;
	color: #00ff00;
	font-family:monospace;
	font-size: small;
}