html, body {
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

#lavagna {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

#lavagna > tr > td {
	background-color: #999999;
	font-size: xxx-large;
	width: 1.2em;
	height: 1.2em;
}